.tooltip {
    position: absolute;
    font-size: 12px;
    width:  auto;
    height: auto;
    pointer-events: none;
    background-color: white;
}

circle.dot {
    stroke: black;
    stroke-width: 0px;
}

circle.dot:hover {
    stroke-width: 2px;
}